<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Hello world!</title>
</head>
<body>
<main class="container">
    <article>
        <header>
            <h1><p th:text="${title}"></p></h1><br/>
            담당자:<span th:text="${name}"></span>
            <p th:text="${date}"></p>
        </header>
        <p th:text="${content}"></p>
        <footer><a th:href="@{update/{id}(id=${id})}"><button>Button</button></a></footer>
    </article>
</main>
</body>
</html>