<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Hello world!</title>
</head>
<body>
<main class="container">
    <table>
        <thead>
            <tr>
                <th scope="col">제목</th>
                <th scope="col">이름</th>
                <th scope="col">날짜</th>
            </tr>
        </thead>
        <tbody id="calanderlist">
            <tr th:each="row : ${rows}">
                <th><a th:href="@{{id}(id=${row.id})}"><span th:text="${row.title}"></span></a></th>
                <td th:text="${row.name}">${name}</td>
                <td th:text="${row.date}">${date}</td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{create}"><button>새 일정</button></a>
</main>
</body>
</html>