<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Hello world!</title>
    <script>
        function createCalander() {
            // 1. 작성한 메모를 불러옵니다.
            let id = $('#id').val();
            let title = $('#title').val();
            let content = $('#content').val();
            let name = $('#name').val();
            let date = $('#date').val();
            let password = $('#password').val();

            // // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
            // if (isValidContents(contents) == false) {
            //     return;
            // }
            // 3. genRandomName 함수를 통해 익명의 username을 만듭니다.
            // let username = genRandomName(10);

            // 4. 전달할 data JSON으로 만듭니다.
            let data = {
                'id': id,
                'title': title,
                'content': content,
                'name': name,
                'date': date,
                'password': password
            };

            // 5. POST /api/memos 에 data를 전달합니다.
            $.ajax({
                type: "PUT",
                url: `/app/update/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert('메시지가 성공적으로 작성되었습니다.');
                    window.location.href = "/";
                }
            });
        }
    </script>
</head>
<body>
<main class="container">
    <article>
        <input id="id" type="hidden" name="id" value="" th:value="${row.id}">
        <input id="title" type="text" name="title" value="" th:value="${row.title}" placeholder="제목" aria-label="Text" />
        <input id="content" type="text" name="content" value="" th:value="${row.content}" placeholder="내용" aria-label="Text" />
        <input id="name" type="text" name="name" value="" th:value="${row.name}" placeholder="담당자이름" aria-label="Text" />
        <input id="date" type="date" name="date" aria-label="Date" value="" th:value="${row.date}"/>
        <input id="password" type="password" name="password" placeholder="비밀번호" aria-label="Password" />
        <button onclick="createCalander()">Button</button>
    </article>
</main>
</body>
</html>